[Desktop Entry]
Name=CodeShetra - URL Handler
Comment=Open source AI code editor.
GenericName=Text Editor
Exec=codeshetra --open-url %U
Icon=codeshetra
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/codeshetra;
Keywords=codeshetra;
